@page "/"

<h1>UtaFormatOL</h1>

<p>
    UtaFormatOL is a web app to convert project files among singing synthesizers. <br />Currently, only VOCALOID/CeVIO projects are supported. We are still working on other types.
</p>
<p>
    UtaFormatOL is an online version of <a href="https://github.com/VOICeVIO/UtaFormatix">UtaFormatEx</a> (by <a href="https://github.com/UlyssesWu">Ulysses</a>). <br />UtaFormatEx is a fork of <a href="http://akatsuki.sdercolin.com/utaformatix/">UtaFormatix</a> (by <a href="http://akatsuki.sdercolin.com/">sdercolin</a>).
</p>
<p>
    Upload your project to get started.
</p>

<a class="btn btn-primary" href="upload">Upload File</a>

<hr/>

<h3>ChangeLog</h3>
<p>
    190513: Initial release.
</p>