@page "/songs"

<h1>VOICeVIO Collection</h1>

<p>
    Here are some V/U/C/SV songs created or recommended by us. Twitter: <a href="https://twitter.com/wdwxy12345" target="_blank">@@wdwxy12345</a> and <a href="https://twitter.com/sder_colin" target="_blank">@@sder_colin</a>
</p>

<div>
    <ul>
        <li>UTAU voice by colin: <a href="http://akatsuki.sdercolin.com/" target="_blank">紅月やなぎ</a></li>
        <li>Ulysses @@ niconico: <a href="https://nicovideo.jp/watch/sm34493113" target="_blank">【CeVIOカバー】バーモント·キッス【すずきつづみ】</a></li>
    </ul>
</div>

<div>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/778285827&color=%230066cc&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>