@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://voiceviohybrid.azurewebsites.net/" target="_blank" class="ml-md-4">VOICeVIO HYBRID</a>
        <a href="https://github.com/sdercolin/UtaFormatix" target="_blank" class="ml-md-4">UtaFormatix Source</a>
        <a href="https://github.com/VOICeVIO/UtaFormatOL" target="_blank" class="ml-md-4">UtaFormatOL Source</a>
    </div>

    <div class="content px-4 uly-content">
        @Body
    </div>

    <footer style="margin: 20px;">
        <hr />
        <p>
            &copy; <a href="https://github.com/VOICeVIO">VOICeVIO</a> 2019
        </p>
        <p>Powered by <a href="http://www.asp.net/">ASP</a><a href="https://www.microsoft.com/net">.NET</a> <a href="https://www.microsoft.com/net/core#windows">Core</a> & <a href="https://blazor.net/">Blazor</a></p>
    </footer>
</div>


